
{% extends 'layout.njk' %}

{% block content %}

<section>

        <div class="cards">

            <div class="card" id="{{ item.id }}">
                <div class="card__image">
                    <img id="imagem_receita" src="{{ item.image }}" alt="{{ item.information }}">
                </div>
                <div class="card__content">
                    <h3 id="h3-do-card_content">{{ item.title }}</h3>
                </div>
                <div class="card__info">
                    <p id="p-do-card_info">por {{ item.author }}</p>
                </div>


                <div class="ingredientes">

                    <h2>Ingredientes</h2>
                    <ul>
                        <li>{{ item.ingredients[0] }}</li>
                        <li>{{ item.ingredients[1] }}</li>
                        <li>{{ item.ingredients[2] }}</li>
                        <li>{{ item.ingredients[3] }}</li>
                        <li>{{ item.ingredients[4] }}</li>
                        <li>{{ item.ingredients[5] }}</li>
                    </ul>

                </div>
                <div class="modoPreparo"></div>
                <div class="infoAdd"></div>

            </div>

        </div>
        
    </section>

{% endblock %}