
{% extends 'layout.njk' %}

{% block content %}

<section>

        <div class="cards_t">

            <div class="card_t" id="{{ item.id }}">
                <div class="card__image_t">
                    <img id="imagem_receita_t" src="{{ item.image }}" alt="{{ item.information }}">
                </div>
                <div class="card__content_t">
                    <h3 id="h3-do-card_content_t">{{ item.title }}</h3>
                </div>
                <div class="card__info_t">
                    <p id="p-do-card_info_t">por {{ item.author }}</p>
                </div>


                <div class="ingredientes">

                    <h2>Ingredientes</h2>
                    <ul>

                        {% for n in item.ingredients %}

                        <li>{{ n }};</li>
                    
                        {% endfor %}

                    </ul>

                </div>
                <div class="modoPreparo">

                    <h2>Modo de Preparo</h2>
                    <ul>

                        {% for n in item.preparation %}

                        <li>{{ n }}</li>
                    
                        {% endfor %}

                    </ul>

                </div>
                <div class="infoAdd">

                    <h2>Informações Adicionais</h2>
                    <ul>
                        <li>{{ item.information }}</li>
                    </ul>

                </div>

            </div>

        </div>
        
    </section>

{% endblock %}