<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/style.css">

    <title>Foodfy</title>

</head>
<body>
    <header>
        <div class="menu">
            <a id="foodfy" href="/">Foodfy</a>
            <a href="/sobre">Sobre</a>
            <a href="/receitas">Receitas</a>
        </div>
    </header>
    <div class="wrapper">
        <div class="wrapper_texto">
            <h1>As melhores receitas</h1>
            <p>Aprenda a construir os melhores pratos com receitas criadas por proficionais do mundo inteiro.</p>
        </div>
        <div class="wrapper_image">
            <img src="assets/chef.png" alt="chef">
        </div>
    </div>
    <section>
        <h2>Mais acessadas</h2>
        <div class="cards">

            <div class="card">
                <div class="card__image">
                    <img src="assets/burger.png" alt="Triplo-bacon-burger">
                </div>
                <div class="card__content">
                    <h3>Tripo bacon burger</h3>
                </div>
                <div class="card__info">
                    <p>por Jorge Relato</p>
                </div>
            </div>

            <div class="card">
                <div class="card__image">
                    <img src="assets/pizza.png" alt="Pizza-4-estações">
                </div>
                <div class="card__content">
                    <h3>Pizza 4 estações</h3>
                </div>
                <div class="card__info">
                    <p>por Fabiana Melo</p>
                </div>
            </div>

            <div class="card">
                <div class="card__image">
                    <img src="assets/espaguete.png" alt="Espaguete-ao-alho">
                </div>
                <div class="card__content">
                    <h3>Espaguete ao alho</h3>
                </div>
                <div class="card__info">
                    <p>por Júlia Kinoto</p>
                </div>
            </div>

            <div class="card">
                <div class="card__image">
                    <img src="assets/lasanha.png" alt="Lasanha-mac-n'-cheese">
                </div>
                <div class="card__content">
                    <h3>Lasanha mac n' cheese</h3>
                </div>
                <div class="card__info">
                    <p>por Juliano Vieira</p>
                </div>
            </div>

            <div class="card">
                <div class="card__image">
                    <img src="assets/doce.png" alt="Docinhos-pão-do-céu">
                </div>
                <div class="card__content">
                    <h3>Docinhos pão do céu</h3>
                </div>
                <div class="card__info">
                    <p>por Ricardo Golvea</p>
                </div>
            </div>

            <div class="card">
                <div class="card__image">
                    <img src="assets/asinhas.png" alt="Asinhas-de-frango-ao-barbecue">
                </div>
                <div class="card__content">
                    <h3>Asinhas de frango ao barbecue</h3>
                </div>
                <div class="card__info">
                    <p>por Vania Steroski</p>
                </div>
            </div>

        </div>
    </section>
    <footer>
        <p>Todos direitos reservados, receitas Foodfy</p>
    </footer>
</body>
</html>